body {
    color: #ffffff;
    background-image: url("fondo3.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: sans-serif;
  }
  
  /* Estilo general */
  
  .header { /* Encabezado */
    text-align: center;
    margin-bottom: 20px;
  }
  
  .header h1 {
    font-size: 2em;
    margin-top: 0;
  }
  
  .logo {
    display: block;
    margin: 0 auto;
    width: 200px;
    height: 200px;
    background-image: url("logoempresa.png");
    background-size: contain;
  }  