/* General Styles */

body {
  color: #aaa7a7; /* Darker contrast for better readability */
  background-image: url("fondo.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: "Gill Sans Extrabold", sans-serif;
}

/* Header */

.header {
  text-align: center;
  margin-bottom: 30px; /* Increased spacing */
}

.header h1 {
  font-size: 2.5em;  /* Increased font size */
  margin-top: 0;
  color: #fff; /* White for better contrast */
}

.logo {
  display: block;
  margin: 0 auto;
  width: 200px;
  height: 200px;
  background-image: url("logoempresa.png");
  background-size: contain;
  background-repeat: no-repeat;
}

/* Sections */

.login,
.registro,
.boton-registro
.boton-animado {
  width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc; 
  border-radius: 5px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1); 
  margin-bottom: 20px; 
}

.login h2,
.registro h2 {
  text-align: center;
  margin-top: 0;
}


label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}

input{
  width: 385px;
  padding: 5px;
  margin-bottom: 12px;
  border: 1px solid #ccc;
  border-radius: 3px;
}
select {
  width: 100%;
  padding: 5px;
  margin-bottom: 12px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

/* Botones */

button {
  width: 100%;
  padding: 5px;
  margin-top: 10px;
  background-color: #192f50;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

button:hover {
  transform: scale(1.1);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3); 
}

/* Animaciones */

.efecto-pulsacion {
  transform: scale(0.9);
  box-shadow: 0 0 0 10px rgba(0, 0, 0)
}